$c-primary: #e0ddca

@font-face
	font-family: 'Abadi'
	src: url('/fonts/abadi.eot')
	src: url('/fonts/abadi.woff2') format('woff2'), url('/fonts/abadi.woff') format('woff'), url('/fonts/abadi.eot') format('embedded-opentype'), url('/fonts/abadi.ttf') format('truetype')
	font-weight: 400
	font-stretch: condensed

*
	box-sizing: border-box
	margin: 0
	padding: 0

html
	background-color: $c-primary
	font-size: 12px
	@media (min-width: 600px)
		font-size: 16px

body
	min-height: 100%
	margin: 0
	padding: 0
	font-family: 'Abadi', sans-serif
	font-size: 1rem
	letter-spacing: 1px

.container
	width: 100%
	height: 100%
	display: flex
	padding: 20px

.logo
	margin: auto
	width: 100%
	max-width: 280px
	padding-bottom: 100px
	@media (min-width: 600px)
		padding-bototm: 0
	@media (min-height: 500px)
		max-width: 500px


.booking
	text-align: center
	text-transform: uppercase
	position: absolute
	bottom: 20px
	left: 0
	transform: translateY(0)
	width: 100%
	@media (min-height: 500px)
		bottom: 40px

	&__intro
		margin-bottom: 10px
		@media (min-height: 500px)
			margin-bottom: 20px
	&__link
		color: black
		text-decoration: underline
		font-size: 1.4rem
