link(href="/css/styles.css", rel="stylesheet")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="google-site-verification", content="hDt3Exg6owynLwZPjBV0i6c_IppQC1ATEMuUt6jIS1Y")
script.
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-88169948-1', 'auto');
	ga('send', 'pageview');
