extends _layout.pug

block content
	.container
		img.logo(src="/images/logo.png", alt="Restaurant Mes")

		.booking
			p.booking__intro Site Launch 1st of January 2017
			a.booking__link#js-dinner-booking(href="#") Book Table